<?xml version="1.0" encoding="utf-8" ?>
<Configuration>
	<Extensions>
		<ReportItems>
			<ReportItem Name="Calendar" Type="ActiveReports.Calendar.Components.Calendar.CalendarDataRegion, ActiveReports.Calendar.Component" />
		</ReportItems>
		<ReportItemDesigner>
			<ReportItem Name="Calendar" Type="ActiveReports.Calendar.Design.Designers.CalendarDesigner, ActiveReports.Calendar.Designer" BitmapResource="ActiveReports.Calendar.Resources.CalendarToolboxIcon.bmp" />
		</ReportItemDesigner>
	</Extensions>
</Configuration>
