<?xml version="1.0" encoding="utf-8" ?>
<Configuration>
    <Extensions>
        <Data>
			<Extension Name="SQLITE" Type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" DisplayName="Sqlite Provider" />
            <Extension Name="MYSQL" DisplayName="MySql Provider" Type = "MySqlConnector.MySqlConnectorFactory, MySqlConnector"/>
			<Extension Name="POSTGRESQL" DisplayName="PostgreSQL Provider" Type = "Npgsql.NpgsqlFactory, Npgsql"/>
			<Extension Name="EXCEL" Type="GrapeCity.ActiveReports.Core.DataProviders.Excel.ExcelDataProviderFactory, MESCIUS.ActiveReports.Core.DataProviders.Excel" DisplayName="Excel Provider" />
        </Data>
    </Extensions>
</Configuration>
