<?xml version="1.0" encoding="utf-8" ?>
<Configuration>
  <Extensions>
    <MapTileProviders>
      <!-- Configure embedded MapQuest tile provider with ApiKey -->
      <MapTileProvider
        Name="GoogleMaps"
        DisplayName="GoogleMaps-Sample" Type="ActiveReports.Samples.CustomTileProviders.GoogleMapsTileProvider, ActiveReports.Samples.CustomTileProviders">
       
      </MapTileProvider>
      <MapTileProvider
        Name="OpenStreetMap"
        DisplayName="OpenStreetMap-Sample" Type="ActiveReports.Samples.CustomTileProviders.OpenStreetMapTileProvider, ActiveReports.Samples.CustomTileProviders">

      </MapTileProvider>
      <MapTileProvider Name="MapQuest-Sample" DisplayName="MapQuest-Sample" Type="ActiveReports.Samples.CustomTileProviders.MapQuestTileProvider, ActiveReports.Samples.CustomTileProviders">
        <Settings>
          <add key="ApiKey" value="Fmjtd%7Cluur21ua2l%2C2x%3Do5-90t5h6" />
          <add key="Timeout" value="3000" />
        </Settings>
      </MapTileProvider>
    </MapTileProviders>
  </Extensions>
</Configuration>
