<?xml version="1.0" encoding="utf-8" ?>
<ReportingConfiguration>
	<Extensions>
		<Data>
			<Extension Name="CustomCSV" 
              DisplayName="CSV Data Provider" 
              Type="ActiveReports.Samples.CustomDataProvider.CSVDataProvider.CsvDataProviderFactory, ActiveReports.Samples.CustomDataProvider"
               CommandTextEditorType="ActiveReports.Samples.CustomDataProviderUI.QueryEditor, ActiveReports.Samples.CustomDataProviderUI"
              />
		</Data>
	</Extensions>
</ReportingConfiguration>

